@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding: 0;
    background-color: pink;
}

:root{
    --white: #fdfdfd;
    --blue: #1f80ff;
    --pink1:#eb287b;
    --pink2:#ae0288;
    --font1: 'Roboto', sans-serif;
}

.main{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

h1{
    font-family: var(--font1);
}

